.container {
  width: min(100% - 6rem, 40rem);
  margin-inline: auto;
  padding-block: var(--sp-48);
}

h2 {
  margin-bottom: var(--sp-20);
}

p {
  margin-block: var(--sp-12) var(--sp-48);
}

p,
.cost {
  color: var(--gray);
}

.fa-credit-card {
  color: var(--purple);
  margin-right: var(--sp-8);
}

/* form */

.form-container {
  background-color: var(--light-purple);
  padding: var(--sp-32);
  border-radius: var(--br);
}

#expense-form,
label {
  display: flex;
  flex-direction: column;
  gap: var(--sp-20);
}

label {
  gap: var(--sp-8);
}

input,
button {
  border: solid 1px var(--purple);
  border-radius: var(--br-sm);
  padding: var(--sp-12);
}

button {
  color: white;
  background-color: var(--purple);
  padding-inline: var(--sp-48);
}

/* list */

#expense-list {
  list-style: none;
  padding: 0;
}

#expense-list li {
  display: grid;
  grid-template-columns: auto 70px;
  border-bottom: solid 1px var(--muted-purple);
  padding-block: var(--sp-16);
  text-transform: capitalize;
}
